<div class="modal-background"></div>
<div class="modal-content columns" style="width: 80%;">
    <article class="message is-success column" style="padding:0">
        <div class="message-header">
            <p style="color: white;">문의 글 확인 및 수정</p>
            <div class="control has-icons-left">
                <div class="select">
                    <select id="colorSelect">
                        <option
                        {% if article.state == '0' %}
                         selected
                        {% endif %}
                        >미처리</option>
                        <option
                        {% if article.state == '1' %}
                         selected
                        {% endif %}
                        >진행중</option>
                        <option
                        {% if article.state == '2' %}
                         selected
                        {% endif %}
                        >완료</option>
                    </select>
                </div>
                <span class="icon is-medium is-left">
                    <i class="fa-solid fa-tag"></i>
                </span>
            </div>
        </div>
        <div class="message-header" style="border-radius: 0;">
            <input id="titlee" class="input mb-2" type="text" placeholder="제목" value="{{ article.title }}">
        </div>
        <div style="padding: 0 15px 15px; background-color: #48c774;">
            <textarea id="textt" style="min-height: 20em;" class="textarea is-success"
                placeholder="본문 내용을 입력해주세요">{{ article.text }}</textarea>
        </div>
        <button id="updateDetail" class="is-fullwidth button is-info mb-1" style="border-radius: 0;"
            onclick="modifyArticle('{{article._id}}')">수정</button>
        <button class="is-fullwidth button is-danger" style="border-radius: 0;"
            onclick="closeModal()">취소</button>
    </article>
    <section class="section column">
        <div class="container">
            <div id="cobox" class="box" style="overflow: auto; max-height: 300px;">
                {% if comment %}
                    {% for c in comment %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ c.name }}</strong>
                                        <br>
                                        {{ c.text }}
                                        <br>
                                        <small>작성일: {{ c.date }}</small>
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>댓글이 없습니다.</p>
                {% endif %}
            </div>
        </div>
        <div>
            <textarea style="min-height: 4em; border: 0; margin-top: 1em;" class="textarea is-success"
                placeholder="댓글 내용을 입력해주세요" id="commentArea"></textarea>
            <button class="is-fullwidth button is-info mb-1" onclick="makeComment('{{article._id}}')">댓글 등록</button>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        let selectedColor = $('#colorSelect').val(); // 선택한 색상
        let icon = document.getElementsByClassName("icon");
        // 아이콘의 색상 변경
        switch (selectedColor) {
            case "미처리":
                $(".icon").css("color", "#f14668");
                break;
            case "진행중":
                $(".icon").css("color", "#ffdd57");
                break;
            case "완료":
                $(".icon").css("color", "#48c774");
                break;
            default:
                $(".icon").css("color", "#f14668");
        }
        document.getElementById("colorSelect").addEventListener("change", function () {
            let selectedColor = this.value; // 선택한 색상
            let icon = document.getElementsByClassName("icon");
            // 아이콘의 색상 변경
            switch (selectedColor) {
                case "미처리":
                    $(".icon").css("color", "#f14668");
                    break;
                case "진행중":
                    $(".icon").css("color", "#ffdd57");
                    break;
                case "완료":
                    $(".icon").css("color", "#48c774");
                    break;
                default:
                    $(".icon").css("color", "#f14668");
            }
        });
    });
</script>